.App {
  text-align: center;
}

.bnb-logo img{
  
  height: 90%;
  width: 90%;
  padding-left: 20%;
  padding: 2%;
  border-radius: 30px;
}

.drip-logo img{
  height: 60%;
  width: 60%;
  padding-left: 1%;
  margin-left: 20%;
  border-radius: 30px;
  
}

.nft-form {
  margin: 5px;
  padding: 10px;
  display: flexbox;
  padding: 50px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );

    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-buttons {
  flex-direction: column;
}

.cards {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 200px;
  
  display: flex;
  flex-direction: row;
}

.collection {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #2d7899);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #2d7899); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
  padding: 5px;
  border-radius: 20px;
  width: 90%;
  margin: auto
}

.container {
  max-width: 800px;
  display: flexbox
}

.form {
  border-radius: 20px;
  background-color: oldlace;
  padding: 40px;
  width: 700px;
  max-width: 95%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
    margin: auto;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

#mint-input {
  margin-top: 2%;
  margin-bottom: 3%;
}

.payment-toggle {
  
 border: solid yellowgreen 1px;
 width: 20%;
 border-radius: 20px;
 padding: 1%;
 margin-bottom: 1%;
 background-color: white;

}

.upload {
  margin-top: 1%;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

/* custom */
 